SECTION {  background: #CCCCCC;  color:#666666; font-family: verdana;  }

NOM { font-family: Helvetica, Sans-Serif; font-size: 12pt; color: #722F37; font-style: italic; font-weight: bold;} 

PAPER {font-family: verdana, Sans-Serif; font-size: 11pt; color: #4E4E4E;}

HH1 { color:#666666;  font-family:lato;}

.container-grid {
  display: grid;
  grid-template-columns: 200px 1000px; /*columns widths*/
  height: 40vh;
}

.col-1 {
  background-color: white;
}

.col-2 {
  background-color: white;
}

